<h2>Book A Band for your Occasion</h2>

<div class="container">
   <%= form_for (@booking) do |f| %>
   <%= f.label :occasion %><
   <br>
   <%= f.text_field :occasion %>
   <br>
     <%= f.label :band %> 
  
     <%= f.collection_select :band_id, Band.all, :id, :name_genre %> 
   <%# <button class="button">Click Me</button> %>
    <%= f.submit "click me", class:"button"%> 
<% end %> 
  </div>
 

