
  <div class="bg-img">
  <div class="container">
     <div class="topnav">
       <%# <a href="/home">Home</a> %>
       <a href="/bookings">Bookings</a>
       <a href="/band">Band</a>
       <a href="/signup">Sign up</a>
     </div>
   </div>
 </div>  



<em><h1>Bookings Details</h1></em>



<div class="container">
<%= form_for (@booking) do |f| %>
<br>
   <%= f.label :occasion %>
  
   <br>
   <%= f.text_field :occasion %>
   <br>
     <%= f.label :band %> 
  
   <%= f.collection_select :band_id, Band.all, :id, :name_genre %> 
   <%# <button class="button">Click Me</button> %>
    <%= f.submit "confirm booking", class:"button"%> 
<% end %> 
  </div>
 