 <div  class= nav bar>
  <div class="bg-img">
  <div class="container">
     <div class="topnav">
       <%# <a href="/home">Home</a> %>
       <a href="/bookings">Bookings</a>
       <a href="/band">Band</a>
       <a href="/signup">Sign up</a>
     </div>
   </div>
 </div>  



<div class="container-form">
    <h1 class="signup">SignUp</h1>
    <br>
    <p><%= form_for @user do |f| %></p>
    <p class= "label"><%= f.label :name %></p>
    <p><%= f.text_field :name%></p>
    <br>
    <p class= "label"><%= f.label :email %></p>
     <p><%= f.text_field :email, :class => "new-todo", :placeholder => "Register with your email!!" %></p>
    <br>
    <p><%= f.submit %></p>
    <%end%>


<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>